<form action="/place" method="post">
  <label for="cityName">Add a City</label>
  <input id="cityName" name="cityName" type="text">
  <label for="days">Add how many days you stayed there</label>
  <input id="days" name="days" type="text">
  <label for="person">Add name of the person you visited with</label>
  <input id="person" name="person" type="text">
  <label for="journal">Add Journal</label>
  <input id="journal" name="journal" type="text">
  <button type="submit">Submit</button>
</form>